
<a [routerLink]="['/']">Back</a>
<br />
<h2 class="page-header">Add Item</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Contents</label>
    <input class="form-control" type="text" [(ngModel)]="addContent" name="addContent" required>
  </div>
  <div class="form-group">
    <label>Priority</label>
    <select class="form-control" type="text" [(ngModel)]="addPriority" name="addPriority" required>
      <option value="It can wait">It Can Wait</option>
      <option value="Need it soon">Need it soon</option>
      <option value="Grab it now">Grab it now!</option>
    </select>
  </div>

    <input type="submit" value="submit" class="btn btn-success">
</form>
=======
<div id="shoplistcontainer" class="container">
  <article class="row">
    <div class="col-md-6 col-sm-6 text-left">
       <h1>Add Item <small>Groceries</small></h1>  
    </div>
    <div class="col-md-6  col-sm-6 text-right">
      <a [routerLink]="['../shopping-list']" class="btn btn-default">Back to List</a>
    </div>
  </article>
  <hr>
  <article>
    <form (submit)="onAddSubmit()">
      <div class="form-group">
        <label>Contents</label>
        <input class="form-control" type="text" [(ngModel)]="content" name="content" required>
      </div>
      <div class="form-group">
        <label>Priority</label>
        <select class="form-control" type="text" [(ngModel)]="priority" name="priority" required>
          <option value="It can wait">It Can Wait</option>
          <option value="Need it soon">Need it soon</option>
          <option value="Grab it now">Grab it now!</option>
        </select>
        <div class="form-group">
        <label>Notes</label>
        <input class="form-control" type="text" [(ngModel)]="note" name="note" required>
      </div>
      </div>
        <input type="submit" value="submit" class="btn btn-success">
    </form>
  </article>
</div>

