<a [routerLink]="['/shoppinglist']">Back</a>
<br />
<h2 class="page-header">Add Item</h2>
<form (submit)="onAddSubmit()">
  <div class="form-group">
    <label>Contents</label>
    <input class="form-control" type="text" [(ngModel)]="addContent" name="addContent" required>
  </div>
  <div class="form-group">
    <label>Priority</label>
    <select class="form-control" type="text" [(ngModel)]="addPriority" name="addPriority" required>
      <option value="It can wait">It Can Wait</option>
      <option value="Need it soon">Need it soon</option>
      <option value="Grab it now">Grab it now!</option>
    </select>
  </div>

    <input type="submit" value="submit" class="btn btn-success">
</form>

