<div id="shoplistcontainer" class="container">
  <article class="row">
    <div class="col-md-6 col-sm-6 text-left">
       <h1>Groceries List</h1>  
    </div>
    <div class="col-md-6 col-sm-6 text-right">
      <a class="btn btn-default" id="deleteAll" (click)="deleteListings(listing.$key)">Delete Checked</a>
      <a [routerLink]="['../add-shopping-item']" class="btn btn-primary" id="Add">Add Item</a>
    </div>
  </article>
  <hr>
    <div class="large-6 columns">
    <label> Filter Category
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <p>Filtered by: {{listFilter}} </p>
            </div>
        </div>
        <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
            <option value="0">Select</option>
            <option *ngFor="let category of categories" value="{{category.priority}}">{{category.priority}}</option>
        </select>
    </label>

  </div>  
  <article>
    <table class="table table-bordered">
      <thead>
        <tr>
          <td></td>
          <td>Contents</td>
          <td>Priority</td>
          <td>Options</td>

          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let listing of listings | listingFilter:listFilter'>
          <td><input type="checkbox" class="checkbox" (click)="onCompleted(listing.isChecked)"   [(ngModel)]="listing.isChecked"></td>
          <td [ngClass]="{'checked': listing.isChecked}"> <strong><font color="{{listing.color}}">{{listing.content}}</font></strong>
            <p [ngClass]="{'checked': listing.isChecked}"><font color="{{listing.color}}">Notes: {{listing.note}}</font></p>
            </td>
          <td [ngClass]="{'checked': listing.isChecked}">{{listing.priority}}</td>
          

          <td><a  [routerLink]="['../shopping-list']" (click)="deleteListings(listing.$key)" href="#" class="remove"><span class="fa fa-remove"></span></a></td>
        </tr>
      </tbody>
    </table>
  </article>
</div>

<style>
.remove {background-color:#ddd;padding:4px 8px 5px 8px;border-radius:100%;}
</style>

